<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ 'PREMIUM.PREMIUM' | translate}}</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-card class="bg-light" no-margin>

    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="dark"><strong>{{ 'PREMIUM.JOIN' | translate}}</strong></ion-text>
      </h1>

      <p margin-bottom>
          {{ 'PREMIUM.TEXT_1' | translate}}
      </p>
      <P>
       {{ 'PREMIUM.TEXT_2' | translate}}</P>



    </ion-card-content>
  </ion-card>

   <div *ngIf="premium" class="bg-light" text-center padding>
     <h1>  {{ 'PREMIUM.IS_PREMIUM' | translate}}</h1>
    <img src="assets/img/trofeo.png">
  </div>






</ion-content>


<ion-button *ngIf="!premium" id="buy-now" no-margin size="large"></ion-button>
