<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ 'SETTIGNS.APP_SETTINGS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="bg-profile">
    <ion-avatar slot="start">
      <img src="{{userLogged.photo}}" class="user-avatar" alt="{{ 'SETTIGNS.PROFILE' | translate}}"
        (click)="goTo('user-profile')">
    </ion-avatar>
    <ion-label>
      <ion-text color="light">
        <h2>
          <strong>{{ userLogged.first_name}} {{ userLogged.last_name}}</strong>
        </h2>
      </ion-text>
      <ion-text color="warning">
        <h3>
          {{ userLogged.email }}
        </h3>
      </ion-text>

      <ion-button icon-left size="small" shape="round" color="secondary" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
        {{ 'SETTIGNS.LOGOUT' | translate}}
      </ion-button>
    </ion-label>
  </ion-item>

  <ion-list no-border>
    <ion-list-header>
      <ion-text color="dark">
        <h5>{{ 'SETTIGNS.GENERAL' | translate}}</h5>
      </ion-text>
    </ion-list-header>
    <ion-item>
      <ion-icon name="settings" slot="start" color="primary"></ion-icon>
      <ion-label color="primary">{{ 'SETTIGNS.APP_LANGUAGE' | translate}}</ion-label>
      <ion-select [(ngModel)]="idioma" (ionChange)="changeLanguage($event)">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">English</ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>





</ion-content>