<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-text color="light">{{ 'DISCOVER.DISCOVER' | translate}}
      </ion-text>
    </ion-title>
  </ion-toolbar>

</ion-header>

<head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-3882394086055365",
      enable_page_level_ads: true
    });
  </script>
</head>

<ion-content>
  <app-banner></app-banner>
  <div class="listDiscover" *ngFor="let userProfile of discover">

    <img src="{{userProfile.discoverPhoto}}" class="user-avatar"
      [routerLink]="'/user-profile/' + userProfile.user.username" routerDirection="forward">

    <ion-button expand="full" color="dark" [routerLink]="'/user-profile/' + userProfile.user.username"
      routerDirection="forward" no-margin>
      {{userProfile.first_name}} {{userProfile.last_name}}
    </ion-button>
    <ion-button expand="full" color="medium" (click)="sendData(userProfile.user.username)" no-margin>
      {{ 'DISCOVER.CONTACT' | translate}}
    </ion-button>


    <br>
  </div>






</ion-content>