:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }
}
p{
    font-size: 16px !important;
}
h1{
    font-size: 26px !important;
}
h2{
    font-size: 22px !important;
}
span{
    font-size: 16px !important;
}