:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }

    ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
    
    --ion-color-medium: #989898;
    --ion-color-medium-rgb: 152,152,152;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #868686;
    --ion-color-medium-tint: #a2a2a2;
}

ion-avatar {
    width: 68px;
    height: 68px;
}

.card-cities {
    margin-left: 0%;
}

.image-container {
    background-size: cover;
    min-height: 300px;
    min-width: 300px;
}