:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }
      ion-item {
        border-radius: 0;
        border-bottom: 1px dotted var(--ion-color-medium);
    }

    ion-card {
        &.no-radius {
            border-radius: 0;
        }
    }
}

ion-avatar {
    width: 68px;
    height: 68px;
}