<ion-header>
  <ion-toolbar color="primary">
       <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Trip detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-light" text-center padding>
    <img src="assets/img/trip_2.jpg">
  </div>

  <ion-card class="bg-light" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="dark"><strong>detail</strong></ion-text>
      </h1>
    </ion-card-content>
  </ion-card>
</ion-content>
