<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{ 'TRIP_DETAILS.TRIP_DETAILS' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="trip">

  <div class="bg-light" text-center>
    <img src="https://wayteam-static.s3.amazonaws.com/static/img/{{trip.userImage}}" width="100%">
  </div>

  <ion-card class="bg-light" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="dark"><strong>{{ trip.creator }}</strong></ion-text>
      </h1>
      <h4> {{ trip.title }}: {{ trip.description }} </h4>
      <h5> {{ 'TRIP_DETAILS.START_DATE' | translate }}: {{ trip.startDate }} {{ 'TRIP_DETAILS.TO' | translate }} {{ trip.endDate }} </h5>
    </ion-card-content>
  </ion-card>


  <ion-item class="bg-profile">

    <ion-icon name="star" slot="end" size="small" color="warning" no-margin></ion-icon>
    <ion-icon name="star" slot="end" size="small" color="warning" no-margin></ion-icon>
    <ion-icon name="star" slot="end" size="small" color="warning" no-margin></ion-icon>
    <ion-icon name="star" slot="end" size="small" color="warning" no-margin></ion-icon>
    <ion-icon name="star" slot="end" size="small" color="warning" no-margin></ion-icon>
    <ion-avatar slot="start">
      <img src="assets/img/trip/{{trip.image}}" class="user-avatar">
    </ion-avatar>
    <ion-label>
      <ion-text color="light">
        <h2>
          <strong> {{ 'TRIP_DETAILS.CREATED_BY' | translate }} </strong>
        </h2>
      </ion-text>
      <ion-text color="warning">
        <h3>
          {{ trip.creator }}
        </h3>
      </ion-text>


      <ion-button icon-left size="small" shape="round" color="secondary" (click)="join()">

        {{ 'TRIP_DETAILS.JOIN' | translate }}
      </ion-button>
    </ion-label>
  </ion-item>
</ion-content>