:host {
    ion-content {
        --background: linear-gradient(-135deg, var(--ion-color-medium), var(--ion-color-light))
    }


}

ion-thumbnail {
    width: 100px;
    height: 100px;
}

ion-card {
    margin-top: 8%;
}

.createButton {
    background-color: white;
}

.textTrips {
    text-align: center;
    color: orange;
}

.card-buttons {
    margin-top: 2%;
}

.button-created {
    margin-top: 1%;
}

.card-list {
    margin-top: 4%;
}

.card-item {
    margin-top: 3%;
}