<ion-header>
  <ion-toolbar color="primary">
       <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Contacts</ion-title>
  </ion-toolbar>
   <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




  <ion-card class="bg-white" no-margin>

    <ion-card-content>
       <ion-card class="bg-primary" no-margin>
          <ion-card-content>

             <ion-item class="bg-primary" no-margin>
    <ion-avatar slot="start">
      <img src="assets/img/avatar4.jpeg" class="user-avatar">
    </ion-avatar>
    <ion-label>
      <ion-text color="dark">
        <h2>
          <strong>Lola martín</strong>
        </h2>
              </ion-text>
      <ion-text color="tertiary">
        <h3>
          "The sea is the best!"
        </h3>
      </ion-text>
          </ion-label>
  </ion-item>

     <ion-item class="bg-primary" no-margin>
    <ion-avatar slot="start">
      <img src="assets/img/avatar3.jpeg" class="user-avatar">
    </ion-avatar>
    <ion-label>
      <ion-text color="dark">
        <h2>
          <strong>Julio Romero</strong>
        </h2>

      </ion-text>
      <ion-text color="tertiary">
        <h3>
          "My next destination is NY"
        </h3>
      </ion-text>
          </ion-label>
  </ion-item>

             <ion-item class="bg-primary" no-margin>
    <ion-avatar slot="start">
      <img src="assets/img/avatar5.jpeg" class="user-avatar">
    </ion-avatar>
    <ion-label>
      <ion-text color="dark">
        <h2>
          <strong>Guadalupe Mora</strong>
        </h2>
          <ion-text color="tertiary">
        <h3>
          "I want to go to the 2019 Japan weekend"
        </h3>
      </ion-text>

      </ion-text>


          </ion-label>
  </ion-item>
                </ion-card-content>
    </ion-card>

     </ion-card-content>
  </ion-card>




<ion-content>
           <ion-card color="dark">
                 <ion-card-content>
      They want to meet you
  </ion-card-content>

 </ion-card>


  <ion-card class="bg-white" no-margin>
    <ion-card-content>
       <ion-card class="bg-primary" no-margin>
          <ion-card-content>

             <ion-item class="bg-primary" no-margin>
    <ion-avatar slot="start">
      <img src="assets/img/avatar6.jpeg" class="user-avatar">
    </ion-avatar>
    <ion-label>
      <ion-text color="dark">
        <h2>
          <strong>Irene Pozo</strong>
        </h2>
              </ion-text>
      <ion-text color="tertiary">
        <h3>
          "Nature is waiting for me!"
        </h3>
      </ion-text>
          </ion-label>
  </ion-item>

     <ion-item class="bg-primary" no-margin>
    <ion-avatar slot="start">
      <img src="assets/img/avatar7.jpeg" class="user-avatar">
    </ion-avatar>
    <ion-label>
      <ion-text color="dark">
        <h2>
          <strong>Oliver Rodriguez</strong>
        </h2>

      </ion-text>
      <ion-text color="tertiary">
        <h3>
          "Only english language"
        </h3>
      </ion-text>
          </ion-label>
  </ion-item>


                </ion-card-content>
    </ion-card>

     </ion-card-content>
  </ion-card>
</ion-content>
