<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">{{ 'CONTACTS.CONTACTS' | translate}}</ion-title>
    </ion-toolbar>
    <!-- <ion-toolbar color="dark">
            <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
            <ion-buttons slot="end">
                <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
                    <ion-icon name="options"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar> -->
</ion-header>

<ion-content>

    <ion-card class="bg-white" no-margin>

        <ion-card-content>
            <ion-card class="bg-primary" no-margin>
                <ion-card-content>
                    <div class="listFriends" *ngFor="let user of friends">
                        <ion-item class="bg-primary" no-margin>
                            <ion-buttons slot="end">

                                <ion-button shape="round" color="dark" slot="end" (click)="chat(user.user.username)">
                                    <ion-icon name="send" class="larger" item-right></ion-icon>

                                </ion-button>
                                <br>

                            </ion-buttons>

                            <ion-avatar slot="start">
                                <img [routerLink]="'/user-profile/' + user.user.username" routerDirection="forward"
                                    src="{{user.photo}}" class="user-avatar">

                            </ion-avatar>

                            <ion-label>

                                <ion-text color="dark">
                                    <h2>
                                        <strong>{{user.first_name}} {{user.last_name}}</strong>
                                    </h2>
                                </ion-text>
                                <ion-button size="small" shape="round" color="warning"
                                    [routerLink]="'/rating/' + user.user.username" routerDirection="forward">

                                    <ion-icon *ngIf="user.avarageRate>=1" name="star" color="dark"></ion-icon>
                                    <ion-icon *ngIf="user.avarageRate>=2" name="star" color="dark"></ion-icon>
                                    <ion-icon *ngIf="user.avarageRate>=3" name="star" color="dark"></ion-icon>
                                    <ion-icon *ngIf="user.avarageRate>=4" name="star" color="dark"></ion-icon>
                                    <ion-icon *ngIf="user.avarageRate>=5" name="star" color="dark"></ion-icon>
                                    <ion-icon *ngIf="user.avarageRate<1" name="star-outline" color="dark"></ion-icon>
                                    <ion-icon *ngIf="user.avarageRate<2" name="star-outline" color="dark"></ion-icon>
                                    <ion-icon *ngIf="user.avarageRate<3" name="star-outline" color="dark"></ion-icon>
                                    <ion-icon *ngIf="user.avarageRate<4" name="star-outline" color="dark"></ion-icon>
                                    <ion-icon *ngIf="user.avarageRate<5" name="star-outline" color="dark"></ion-icon>
                                </ion-button>
                            </ion-label>
                        </ion-item>
                    </div>

                </ion-card-content>
            </ion-card>

        </ion-card-content>
    </ion-card>



    <ion-card color="dark" no-margin>
        <ion-card-content>
            {{ 'CONTACTS.THEY_WANT_TO_MEET_YOU' | translate}}
            <ion-icon name="arrow-dropdown"></ion-icon>
        </ion-card-content>

    </ion-card>


    <ion-card class="bg-white" no-margin>
        <ion-card-content>
            <ion-card class="bg-primary" no-margin>
                <ion-card-content>
                    <div class="listMeetYou" *ngFor="let user of meetYou">
                        <ion-item class="bg-primary" no-margin>
                            <ion-avatar slot="start">
                                <img src="{{user.photo}}" class="user-avatar"
                                    [routerLink]="'/user-profile/' + user.user.username" routerDirection="forward">
                            </ion-avatar>
                            <ion-label>
                                <ion-text color="dark">
                                    <h2>
                                        <strong>{{user.first_name}} {{user.last_name}}</strong>
                                    </h2>
                                </ion-text>
                                <ion-text color="tertiary">
                                    <h3>
                                        {{user.description}}
                                    </h3>
                                </ion-text>
                            </ion-label>
                            <ion-buttons slot="end">
                                <ion-button size="small" shape="round" color="dark" slot="end"
                                    (click)="accept(user.user.username)">
                                    <ion-icon name="checkmark-circle" color="dark" item-right></ion-icon>

                                </ion-button>
                                <ion-button size="small" shape="round" color="dark" slot="end"
                                    (click)="reject(user.user.username)">
                                    <ion-icon name="close-circle" color="tertiary" item-right></ion-icon>

                                </ion-button>


                            </ion-buttons>

                        </ion-item>
                    </div>
                </ion-card-content>
            </ion-card>

        </ion-card-content>
    </ion-card>
</ion-content>