// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #74E0D4;
  --ion-color-primary-rgb: 116, 224, 212;
  --ion-color-primary-contrast: #003542;
  --ion-color-primary-contrast-rgb: 175, 10, 54;
  --ion-color-primary-shade: #001c23;
  --ion-color-primary-tint: #74E0D4;

  /** secondary **/
  --ion-color-secondary: #74E0D4;
  --ion-color-secondary-rgb: 116, 224, 212;
  --ion-color-secondary-contrast: #F3FBFF;
  --ion-color-secondary-contrast-rgb:  243, 251, 255;
  --ion-color-secondary-shade: #4B4EB6;
  --ion-color-secondary-tint: #787CE4;

/** tertiary **/
--ion-color-tertiary: #f4a942;
--ion-color-tertiary-rgb: 175,10,54;
--ion-color-tertiary-contrast: #F3FBFF;
--ion-color-tertiary-contrast-rgb: 243,251,255;
--ion-color-tertiary-shade: #f4a942;
--ion-color-tertiary-tint: #9e064f;

/** success **/
--ion-color-success: #10dc60;
--ion-color-success-rgb: 16,220,96;
--ion-color-success-contrast: #F3FBFF;
--ion-color-success-contrast-rgb: 243,251,255;
--ion-color-success-shade: #0ec254;
--ion-color-success-tint: #28e070;

/** warning **/
--ion-color-warning: #ffce00;
--ion-color-warning-rgb: 255,206,0;
--ion-color-warning-contrast: #000;
--ion-color-warning-contrast-rgb: 0,0,0;
--ion-color-warning-shade: #e0b500;
--ion-color-warning-tint: #ffd31a;

/** danger **/
--ion-color-danger: #f53d3d;
--ion-color-danger-rgb: 245,61,61;
--ion-color-danger-contrast: #fff;
--ion-color-danger-contrast-rgb: 255,255,255;
--ion-color-danger-shade: #d83636;
--ion-color-danger-tint: #f65050;

/** light **/
--ion-color-light: #F3FBFF;
--ion-color-light-rgb: 243,251,255;
--ion-color-light-contrast: #000;
--ion-color-light-contrast-rgb: 0,0,0;
--ion-color-light-shade: #8290e0;
--ion-color-light-tint: #f5f5f5;

/** medium **/
--ion-color-medium: #74E0D4;
--ion-color-medium-rgb: 116, 224, 212;
--ion-color-medium-contrast: #000;
--ion-color-medium-contrast-rgb: 0,0,0;
--ion-color-medium-shade: #86888f;
--ion-color-medium-tint: #a2a4ab;

/** dark **/
--ion-color-dark: #003542;
--ion-color-dark-rgb: 175,10,54;
--ion-color-dark-contrast: #F3FBFF;
--ion-color-dark-contrast-rgb: 243, 251, 255;
--ion-color-dark-shade: #190e60;
--ion-color-dark-tint: #190e60;
}
