<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button color="primary"></ion-back-button>
        </ion-buttons>
        <ion-title color="light">{{ 'TRIPS.TRIPS' | translate }}</ion-title>
    </ion-toolbar>
    <app-banner></app-banner>

    <ion-card class="card-buttons">
        <ion-button class="button-create" expand="full" (click)="goToCreate()" no-margin>
            <ion-icon slot="end" name="add-circle-outline"></ion-icon>
            <ion-text aling="left">
                {{ 'TRIPS.CREATE_NEW_TRIP' | translate }}
            </ion-text>
        </ion-button>
    </ion-card>
</ion-header>


<ion-content>
    <ng-container *ngIf="listTrips">
        <ion-card class="card-list">

            <ion-card-content class="bg-white">

                <div class="listTrips" *ngFor="let trip of listTrips">
                    <ion-card class="card-item">
                        <ion-card-content class="bg-light">

                            <ion-item style="cursor: pointer" (click)="goTo('trip-detail/', trip)">
                                <ion-thumbnail class="ion-avatar" slot="start">
                                    <img src="https://wayteam-static.s3.amazonaws.com/static/img/{{trip.userImage}}"
                                        class="user-avatar">
                                </ion-thumbnail>

                                <ion-text color="dark">
                                    <h1><strong>{{trip.title}}</strong></h1>
                                    <h5>{{trip.startDate}} - {{trip.endDate}}</h5>
                                </ion-text>

                            </ion-item>
                            <ion-item lines="none" *ngIf='trip.tripType != "PUBLIC"'>
                                <ion-button size="small" shape="round" color="dark" class="editbutton"
                                    [routerLink]="'/trip-form/' + trip.id" routerDirection="forward">
                                    {{ 'CREATE_TRIP.EDIT' | translate }}
                                </ion-button>
                            </ion-item>



                        </ion-card-content>
                    </ion-card>

                </div>
                <ng-container *ngIf="listTrips.length === 0">
                    <br>
                    <h1 class="textTrips">{{ 'TRIPS.WITHOUT_TRIPS' | translate }}</h1>

                </ng-container>
            </ion-card-content>
        </ion-card>
    </ng-container>

</ion-content>