<ion-header>
  <ion-toolbar color="primary">
       <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Trips</ion-title>
  </ion-toolbar>


</ion-header>



<ion-content>


  <ion-item>
      <ion-thumbnail slot="start" >
          <img src="assets/img/trip_2.jpg" class="user-avatar" (click)="viewDetail(2)">
      </ion-thumbnail>
      
          <ion-text color="dark">
              <h1><strong>¡A Brasil!</strong></h1>
            Estoy preparando una ruta en autocaravana durante el mes de agosto.
          </ion-text>
  </ion-item>

  <ion-item>
      <ion-thumbnail slot="start" >
          <img src="assets/img/trip_4.jpg" class="user-avatar" (click)="viewDetail(4)">
      </ion-thumbnail>

          <ion-text color="dark">
              <h1><strong>República Dominicana</strong></h1>
              Mi compañero se ha roto una pierna. Tenemos todo pagado y reservado, suuuuperbarato!!!!.
          </ion-text>
  </ion-item>


  

</ion-content>

