<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logoCircle"></div>
      <h4 no-margin>
        <ion-text color="light" class="fw700">
            {{ 'LOGIN.TRAVELMATE' | translate}}
        </ion-text>
      </h4>
    </div>

    <!-- Login form -->
    <form [formGroup]="onLoginForm" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="person" item-start></ion-icon>
          {{ 'LOGIN.USERNAME' | translate}}
        </ion-label>
        <ion-input [(ngModel)]="registerCredentials.username" color="secondary" type="text" formControlName="username">
        </ion-input>
      </ion-item>
      <p ion-text class="text08"
        *ngIf="onLoginForm.get('username').touched && onLoginForm.get('username').hasError('required')">
        <ion-text color="warning">
            {{ 'LOGIN.REQUIRED_FIELD' | translate}}
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>
          {{ 'LOGIN.PASSWORD' | translate}}
        </ion-label>
        <ion-input [(ngModel)]="registerCredentials.password" color="secondary" type="password"
          formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="warning" class="text08"
        *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">
        <ion-text color="warning">
            {{ 'LOGIN.REQUIRED_FIELD' | translate}}
        </ion-text>
      </p>
    </form>

<br><br>

    <div>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="login()"
        [disabled]="!onLoginForm.valid" tappable>
        <ion-icon name="log-in"></ion-icon>
        {{ 'LOGIN.SIGNIN' | translate}}
      </ion-button>


      <br>

    </div>

    <!-- Other links -->
    <div text-center margin-top>
      <span (click)="goToRegister()" class="paz" tappable>
        <ion-text color="light">
            {{ 'LOGIN.NEW_HERE' | translate}} <strong>{{ 'LOGIN.SIGN_UP' | translate}}</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>