:host {
  ion-content {
    --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary))
  }

  ion-card {
    --background: white;

  }

  ion-card-subtitle {
    color: white;
  }

  ion-card-title {
    color: var(--ion-color-medium)
  }

  ion-item {
    margin-left: 5%;
    margin-right: 5%;
  }

  p {
    margin-left: 5%;
  }
}

.imageCard1 {
  margin-top: 10%;
}