<ion-header>
        <ion-toolbar color="ligth">
                <ion-buttons slot="start">
                        <ion-back-button color="dark"></ion-back-button>
                </ion-buttons>
                <ion-title color="dark">{{ 'GDPR.TITLE' | translate}}</ion-title>

        </ion-toolbar>

</ion-header>

<ion-content>



        <ion-card class="bg-light" no-margin>
                <ion-card-content>

                        <ion-text>
                                <h1>{{ 'GDPR.PRIVACY_INFORMATION' | translate}}</h1>

                                <h3>
                                        <p>
                                                {{ 'GDPR.TEXT_1' | translate}}
                                        </p>
                                        <p>

                                                {{ 'GDPR.TEXT_2' | translate}}
                                        </p>
                                </h3>
                                <h1>{{ 'GDPR.TEXT_3' | translate}}</h1>

                                <h3>
                                        <p>
                                                {{ 'GDPR.TEXT_4' | translate}}
                                                {{ 'GDPR.TEXT_5' | translate}}
                                                {{ 'GDPR.TEXT_6' | translate}}

                                        </p>
                                        <p>
                                                {{ 'GDPR.TEXT_7' | translate}}
                                                {{ 'GDPR.TEXT_8' | translate}}
                                        </p>

                                        <p>
                                                {{ 'GDPR.TEXT_9' | translate}}</p>
                                </h3>
                                <h1>{{ 'GDPR.TEXT_10' | translate}}</h1>

                                <h3>
                                        <p>
                                                {{ 'GDPR.TEXT_11' | translate}}
                                                {{ 'GDPR.TEXT_12' | translate}}
                                                {{ 'GDPR.TEXT_13' | translate}}
                                        </p>
                                        <p>


                                                {{ 'GDPR.TEXT_14' | translate}}
                                                {{ 'GDPR.TEXT_15' | translate}}
                                                {{ 'GDPR.TEXT_16' | translate}}
                                                {{ 'GDPR.TEXT_17' | translate}}
                                        </p>
                                        <p>

                                                {{ 'GDPR.TEXT_18' | translate}}
                                                {{ 'GDPR.TEXT_19' | translate}}
                                                {{ 'GDPR.TEXT_20' | translate}}
                                        </p>
                                        <p>

                                                {{ 'GDPR.TEXT_21' | translate}}

                                        </p>
                                        <p>
                                                {{ 'GDPR.TEXT_22' | translate}}
                                                {{ 'GDPR.TEXT_23' | translate}}
                                        </p>

                                </h3>
                                <h1>{{ 'GDPR.TEXT_24' | translate}}</h1>
                                <h3>

                                        <p>
                                                {{ 'GDPR.TEXT_25' | translate}}
                                                {{ 'GDPR.TEXT_26' | translate}}
                                                {{ 'GDPR.TEXT_27' | translate}}
                                        </p>
                                        <p>


                                                {{ 'GDPR.TEXT_28' | translate}}
                                                {{ 'GDPR.TEXT_29' | translate}}</p>

                                        <p>

                                                {{ 'GDPR.TEXT_30' | translate}}
                                                {{ 'GDPR.TEXT_31' | translate}}
                                                {{ 'GDPR.TEXT_40' | translate}}</p>
                                        <p>


                                                {{ 'GDPR.TEXT_32' | translate}}

                                                {{ 'GDPR.TEXT_33' | translate}}
                                                {{ 'GDPR.TEXT_34' | translate}}</p>
                                </h3>

                                <h1>{{ 'GDPR.TEXT_35' | translate}}</h1>

                                <h3>
                                        <p>

                                                {{ 'GDPR.TEXT_36' | translate}}



                                                {{ 'GDPR.TEXT_37' | translate}}

                                        </p>
                                        <p>

                                                {{ 'GDPR.TEXT_38' | translate}}
                                                {{ 'GDPR.TEXT_39' | translate}}
                                        </p>
                                </h3>
                        </ion-text>
                        <br>
                        <a class="text08" tappable (click)="logout()">
                                <ion-text color="medium">
                                        <h1>
                                                <strong>{{ 'GDPR.GO_OUT' | translate}}</strong>
                                                <ion-icon name="log-out" size="big"></ion-icon>
                                        </h1>
                                </ion-text>
                        </a>
                        <br>

                        <br>
                        <br>
                </ion-card-content>
        </ion-card>