<ion-header>
        <ion-toolbar color="ligth">
                <ion-buttons slot="start">
                        <ion-back-button color="dark"></ion-back-button>
                </ion-buttons>
                <ion-title color="dark">{{ 'GDPR.TITLE' | translate}}</ion-title>

        </ion-toolbar>

</ion-header>

<ion-content>



        <ion-card class="bg-light" no-margin>
                <ion-card-content >

                        <ion-text >
                                <h1>{{ 'GDPR.PRIVACY_INFORMATION' | translate}}</h1><br>

                                <h2>

                                                {{ 'GDPR.TEXT_1' | translate}}

                                </h2>
                                        <p>

                                                {{ 'GDPR.TEXT_2' | translate}}<a href="mailto:way.team.soft@gmail.com">way.team.soft@gmail.com.</a>
                                        </p><br>

                                <h2>{{ 'GDPR.TEXT_3' | translate}}</h2>

                                        <p>
                                                {{ 'GDPR.TEXT_4' | translate}}</p>

                               <br> <h2>        {{ 'GDPR.TEXT_5' | translate}}</h2>


                                <p>             {{ 'GDPR.TEXT_6' | translate}}<a href="https://www.salesforce.com/company/privacy/full_privacy.jsp#nav_info "> {{ 'GDPR.HERE' | translate}}</a></p>


                                        <p>
                                                {{ 'GDPR.TEXT_7' | translate}}<a href=" https://www.amazon.es/gp/help/customer/display.html?nodeId=200545460"> {{ 'GDPR.HERE' | translate}}</a></p>
                                          <br><h2>      {{ 'GDPR.TEXT_8' | translate}}
                                        </h2>

                                      <p>
                                                {{ 'GDPR.TEXT_9' | translate}}<a href="https://www.salesforce.com/company/privacy/full_privacy.jsp#nav_info">Heroku</a>

                                {{ 'GDPR.TEXT_10' | translate}}<a href=" https://www.amazon.es/gp/help/customer/display.html?nodeId=200545460"> Amazon web services</a>
                                     {{ 'GDPR.TEXT_10B' | translate}}  </p>


                                     <br>   <h2>
                                                {{ 'GDPR.TEXT_11' | translate}}</h2>
                                            <p>  {{ 'GDPR.TEXT_12' | translate}}<a href="https://www.paypal.com/es/webapps/mpp/ua/privacy-full"> {{ 'GDPR.HERE' | translate}}</a><br>



                                              <br><h2>  {{ 'GDPR.TEXT_15' | translate}}</h2>
                                          <p>    {{ 'GDPR.TEXT_16' | translate}}<a href="https://www.salesforce.com/company/privacy/full_privacy.jsp#nav_info">Heroku </a></p>
                                         <br> <h2>      {{ 'GDPR.TEXT_17' | translate}}
                                        </h2>
                                        <p>

                                                {{ 'GDPR.TEXT_18' | translate}}<a href="https://www.salesforce.com/company/privacy/full_privacy.jsp#nav_info">Heroku </a>
                                                 {{ 'GDPR.TEXT_18B' | translate}}
                                        </p>
                                <br><h2>      {{ 'GDPR.TEXT_19' | translate}}</h2>
                                           <p>     {{ 'GDPR.TEXT_20' | translate}}
                                        </p>
                                       <p>

                                                {{ 'GDPR.TEXT_21' | translate}}
                                                <a class="text08" tappable (click)="logout()">
                                <ion-text color="medium">

                                        <strong><span>{{ 'GDPR.GO_OUT' | translate}}</span>
                                               <span> <ion-icon name="log-out" size="big"></ion-icon></span></strong>

                                </ion-text>
                        </a>

                                        </p>
                                         <br><h2>
                                                {{ 'GDPR.TEXT_22' | translate}}

                                        </h2>
                                        <p> {{ 'GDPR.TEXT_23' | translate}}</p>

                               <br> <h2>{{ 'GDPR.TEXT_24' | translate}}</h2>


                                        <p>
                                                {{ 'GDPR.TEXT_25' | translate}}</p>
                                <p>       {{ 'GDPR.TEXT_26' | translate}}</p>
                                       <p>         {{ 'GDPR.TEXT_27' | translate}}
                                        </p>

                                          <p>      {{ 'GDPR.TEXT_29' | translate}}</p>


                                        <p>


                                                {{ 'GDPR.TEXT_34' | translate}}</p>


                                <p>{{ 'GDPR.TEXT_35' | translate}}</p>

                                      <br>  <h2>

                                                {{ 'GDPR.TEXT_36' | translate}}</h2>



                                          <p>      {{ 'GDPR.TEXT_37' | translate}}

                                        </p>
                                        <p>

                                                {{ 'GDPR.TEXT_38' | translate}}
                                                {{ 'GDPR.TEXT_39' | translate}}
                                                {{ 'GDPR.TEXT_40' | translate}}</p>

                        </ion-text>
                        <br>

                        <br>

                        <br>
                        <br>
                </ion-card-content>
        </ion-card>