<ion-header>
  <ion-toolbar color="ligth">

    <ion-title color="dark">General Data Protection Regulation</ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>



  <ion-card class="bg-light" no-margin>
    <ion-card-content>

<ion-text>
<h1>Privacy Informati​on</h1>

<h3>
<p>
In this article we explain how we collect and use personal data.
</p><p>

Our access and handling of this information is subject to the General Data Protection Regulations (GDPR).
</p>
</h3>
    <h1>The data we collect</h1>

<h3>
    <p>
Any issue we manage on your behalf typically makes it necessary to provide us with information.
Depending upon the nature of the issue, the specific information may vary.
    However, we will only request information that is relevant and required for managing the issue in question.

</p>
<p>
If the matter includes the gathering and assessing of evidence,
    that evidence may include information that would be subject to GDPR and this policy.
</p>

<p>
For example, we collect personal information such as names and contact details via contact forms on our website
    and/or through voluntary subscriptions to premium version.</p>
</h3>
        <h1>How this data is protected</h1>

<h3>
<p>
Personal information may be stored in a number of locations,
    depending upon the nature of the information and how it was acquired
    (e.g. through being engaged to handle a matter or through a consensual subscription or contact request).
</p>
    <p>


Information relating to engagements typically resides in our database in Heroku.
        This includes any documents that you send us or that we produce.
        Heroku is a secure server and is accessed via an encrypted network connection.
        There may be working copies and backups of those documents on a system within our team devices.

</p>
    <p>

Information relating to matters that we handle is only retained as long as necessary.
        This typically means that once a matter has been completed,
        we will only retain your information for long enough to ensure that any supplementary queries or further actions can be handled.
    </p>
    <p>

We would not retain information for more than one year beyond the end of our engagement unless there is a specific requirement to do so.

</p>
<p>
Once an engagement is completed we may, with your consent,
    retain your information in our customer database so that we can follow up with you in future on possible engagements
    or keep you informed.
</p>

</h3>
        <h1>Your rights regarding your data</h1>
        <h3>

<p>
You have the right to request access (i.e. copies of) all your personal information held by us.
    We will provide this information within thirty days of having received your request by mail (way.team.soft@gmail.com).
    Where applicable, you can have your data in a “portable” format.
</p>
            <p>


You have the right to ensure any information we retain is accurate.
                You can inform us of any changes to your personal information and we will update our records.</p>

<p>

You have the right to have your personal information erased,
    provided it is no longer required for the handling of any unresolved matter or legal proceeding.</p>
<p>


You have the right to restrict the use of your information under certain circumstances.

You also have the right to object against the use of your personal information,
    for example by withdrawing consent to be contacted for direct marketing purposes.</p>
</h3>

        <h1>Handling of data breaches</h1>

<h3>
    <p>

A data breach is any occasion where security measures have been deliberately or accidentally circumvented in order to access, alter, disclose or destroy personal information.



For example, if unauthorised parties have gained access to and potentially obtained copies of your personal information from our systems.

</p>
    <p>

In the unlikely event that there is a personal data breach that represents a risk to individuals or their businesses,
        we will inform the Information Commissioners Office (ICO) within 72 hours of becoming aware of it.
    </p>
</h3>
        </ion-text>

 <a class="text08" tappable (click)="logout()">
                  <ion-text color="medium">
                   <h1> <ion-icon name="log-out" size="big"></ion-icon>
                    <strong>go out</strong></h1>
                  </ion-text>
                </a>
    </ion-card-content>
  </ion-card>





