<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{ 'CREATE_TRIP.CREATE_NEW_TRIP' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card class="form-card">
    <ion-card-header class="bg-dark">
      <ion-card-subtitle>{{ 'CREATE_TRIP.INTRUDUCE_DETAILS' | translate}}</ion-card-subtitle>
      <ion-card-title>{{ 'CREATE_TRIP.TRIP' | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="onCreateForm">
        <ion-list>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="create" item-start></ion-icon>
              {{ 'CREATE_TRIP.TITLE' | translate}}
            </ion-label>
            <ion-input [(ngModel)]="title" type="text" formControlName="title"></ion-input>
          </ion-item>
          <p ion-text class="text08"
            *ngIf="onCreateForm.get('title').touched && onCreateForm.get('title').hasError('required')">
            <ion-text color="warning">
              {{ 'CREATE_TRIP.REQUIRED_FIELD' | translate}}
            </ion-text>
          </p>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="create" item-start></ion-icon>
              {{ 'CREATE_TRIP.DESCRIPTION' | translate}}
            </ion-label>
            <ion-textarea [(ngModel)]="description" [ngModelOptions]="{standalone: true}"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="calendar" item-start></ion-icon>
              {{ 'CREATE_TRIP.START_DATE' | translate}}
            </ion-label>
            <ion-datetime (ionChange)="validateDates()" displayFormat="DD/MM/YYYY" [(ngModel)]="start_date"
              formControlName="start_date" [min]="2019" max="2030-12-31">
            </ion-datetime>
          </ion-item>
          <p ion-text class="text08"
            *ngIf="onCreateForm.get('start_date').touched && onCreateForm.get('start_date').hasError('required')">
            <ion-text color="warning">
              {{ 'CREATE_TRIP.REQUIRED_FIELD' | translate}}
            </ion-text>
          </p>
          <p *ngIf="!validateDatesBeforeToday" class="text08">
            <ion-text color="warning">
              {{ 'CREATE_TRIP.WARNING_DATE_MIN' | translate}}
            </ion-text>
          </p>
          <ion-item>
            <ion-label position="floating">
              <ion-icon name="calendar" item-start></ion-icon>
              {{ 'CREATE_TRIP.END_DATE' | translate}}
            </ion-label>
            <ion-datetime (ionChange)="validateDates()" displayFormat="DD/MM/YYYY" [(ngModel)]="end_date"
              formControlName="end_date" [min]="2019" max="2030-12-31"></ion-datetime>
          </ion-item>
          <p ion-text class="text08"
            *ngIf="onCreateForm.get('end_date').touched && onCreateForm.get('end_date').hasError('required')">
            <ion-text color="warning">
              {{ 'CREATE_TRIP.REQUIRED_FIELD' | translate}}
            </ion-text>
          </p>
          <p *ngIf="!validateDatesAttr" class="text08">
            <ion-text color="warning">
              {{ 'CREATE_TRIP.WARNING_DATE' | translate}}
            </ion-text>
          </p>

          <ion-radio-group [(ngModel)]="trip_type" [ngModelOptions]="{standalone: true}">
            <ion-item>
              <ion-label position="floating">
                <ion-icon name="pricetag" item-start></ion-icon>
                {{ 'CREATE_TRIP.TYPE' | translate}}
              </ion-label>
            </ion-item>

            <ion-item lines="none">
              <ion-label>{{ 'CREATE_TRIP.PUBLIC' | translate}}</ion-label>
              <ion-radio value="PUBLIC" checked></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>{{ 'CREATE_TRIP.PRIVATE' | translate}}</ion-label>
              <ion-radio value="PRIVATE"></ion-radio>
            </ion-item>
          </ion-radio-group>

          <ion-item>
            <ion-label position="floating">
              <ion-icon name="map" item-start></ion-icon>
              {{ 'CREATE_TRIP.CITY' | translate}}
            </ion-label>
            <ion-select [(ngModel)]="city" formControlName="city">
              <ion-select-option value="city.id" *ngFor="let city of cities" value="{{city.id}}">{{ city.name }}
                ({{ city.country.name }})
              </ion-select-option>
            </ion-select>
          </ion-item>
          <p ion-text class="text08"
            *ngIf="onCreateForm.get('city').touched && onCreateForm.get('city').hasError('required')">
            <ion-text color="warning">
              {{ 'CREATE_TRIP.REQUIRED_FIELD' | translate}}
            </ion-text>
          </p>
          <ion-item lines="none"></ion-item>
          <ion-item>
            <ion-card class="imageCard">
              <ion-card-header>
                <ion-title>
                  <ion-icon name="image" item-start></ion-icon>
                  {{ 'CREATE_TRIP.UPLOAD_AN_IMAGE' | translate}}
                </ion-title>
              </ion-card-header>
              <ion-card-content>
                <br>
                <div><input type='file' (change)="onFileInputChange($event.target.files)" /></div>
              </ion-card-content>
            </ion-card>

          </ion-item>
          <ion-item lines="none"></ion-item>
        </ion-list>
      </form>
      <br>
    </ion-card-content>
  </ion-card>
  <br>
  <ion-checkbox [(ngModel)]="privacyPolicites" checked="false"></ion-checkbox>
  <ion-label>
    {{ 'CREATE_TRIP.TERMS' | translate}}
    <ion-text color="dark" (click)="goToPrivacyPolicies()">{{ 'CREATE_TRIP.PRIVACY_POLICIES' | translate}}</ion-text>
  </ion-label>
  <ng-container *ngIf="!id">
    <ion-button [disabled]="!onCreateForm.valid || !privacyPolicites || !validateDatesAttr || !validateDatesBeforeToday"
      icon-left size="medium" expand="full" shape="round" color="dark" (click)="createTrip()" tappable>
      <ion-icon name="save"></ion-icon>
      {{ 'CREATE_TRIP.SAVE' | translate}}
    </ion-button>
  </ng-container>
  <ng-container *ngIf="id">
    <ion-button [disabled]="!onCreateForm.valid || !privacyPolicites || !validateDatesAttr" icon-left size="medium"
      expand="full" shape="round" color="dark" (click)="editTrip()" tappable>
      <ion-icon name="save"></ion-icon>
      {{ 'CREATE_TRIP.SAVE' | translate}}
    </ion-button>
  </ng-container>

</ion-content>